/* */
:root {
    /* Backgrounds */
    --color-bg-disabled: #A1A1AA; /* zinc-400 for disabled backgrounds */
    --color-bg-light: #F4F4F5; /* zinc-100 for light backgrounds/borders */
    --color-bg-hover: #FAFAFA; /* zinc-50 */
    --color-bg-white: #FFFFFF; /* For pure white backgrounds (e.g., unchecked inputs) */

    /* Text */
    --color-text-primary: #18181B; /* zinc-900 */
    --color-text-secondary: #52525B;  /* zinc-600 for secondary text */
    --color-text-hover: #47474a;   /* zinc-700 */
    --color-text-on-accent: #FFFFFF; /* white text on dark/accent background */
    --color-text-on-accent-active: rgba(255, 255, 255, 0.8); /* active text opacity */

    /* Status Colors */
    --color-error: #FB7185; /* New: rose-400 for input error borders */

    /* Borders */
    --color-border-default: #D4D4D8; /* zinc-300 */
    --color-border-focus: #A1A1AA;   /* zinc-400 for input focus border */

    /* Focus States (Focus Ring / Border) */
    --color-focus-ring: #6366F1; /* indigo-500 */
}